<h1>
  <%= @chatroom.name %>
</h1>

<p>
  Currently in this channel: 
  <% @users.each do |user| %>
    <span>
      <%= user.name %>
    </span>
  <% end %>
</p>

<ul>
  <% @messages.each do |message| %>
    <li>
      <%= message.text %>
      <%= message.created_at %>
    </li>
  <% end %>
</ul>

<%= render partial: 'messages/message_form', locals: { message: @message, chatroom: @chatroom } %>

